*{
    padding:0;
    margin:0;
    background-color: black;
    color:whitesmoke;
}


.nav-bar{
    width:800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.nav-bar ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color:whitesmoke;
    font-size: large;
}
.count{
    width:800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    text-align: center;
    font-size: 80px;
}
.score{
    height: 260px;
    margin-top: 30px;
    border:none;
    border-radius: 20px;
    background-color: #1C1C1C;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display:none;
}
.lap-start{
    display:flex;
    justify-content: space-around;
    background-color: #1C1C1C;
    border-radius: 20px;
    padding-top: 7px;
    height:10%;
}
.lap-list{
    list-style: none;
    background-color: #1C1C1C;
    opacity: 0.7;
    text-align: left;
}
hr{
    width:590px;
    margin : 8px auto;
    border-width: 1px;
    opacity:0.6;
}
.trackers{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: space-between;
    margin-top: 100px;
}
.lap-button button{
    width: 250px;
    background-color: #1C1C1C;
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    font-size: 35px;
}
.start{
    width: 250px;
    background-color: hsl(251, 68%, 59%);
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    font-size: 35px; 
}
.start-button{
    width: 250px;
    background-color: hsl(251, 68%, 59%);
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    font-size: 35px;
}
.stop-button{
    width:250px;
    background-color: hwb(355 15% 7%);
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    font-size: 35px;
}
.opa1{
    opacity:1;
}
.opah{
    opacity:0.5;
}